Launchpad Lightshow.json
[{"id":"93aca5f3.988cb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c54a5d76.33a0c","type":"ui_colour_picker","z":"93aca5f3.988cb8","name":"","label":"","group":"3c80b859.ab64e8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":5,"width":4,"height":4,"passthru":false,"topic":"","x":170,"y":200,"wires":[["4e663679.7e52a8","aa7197eb.b573b8"]]},{"id":"4e663679.7e52a8","type":"ui_button","z":"93aca5f3.988cb8","name":"","group":"3c80b859.ab64e8","order":13,"width":0,"height":0,"passthru":false,"label":"set all","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"SetAll","x":330,"y":260,"wires":[["1ebdae31.e33892"]]},{"id":"4e46238b.85d3dc","type":"ui_button","z":"93aca5f3.988cb8","name":"1_2","group":"5a22bfea.c3c8f","order":5,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"1_2","x":330,"y":449,"wires":[["1ebdae31.e33892"]]},{"id":"4abcbc95.ee9604","type":"ui_button","z":"93aca5f3.988cb8","name":"1_1","group":"5a22bfea.c3c8f","order":1,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"1_1","x":330,"y":389,"wires":[["1ebdae31.e33892"]]},{"id":"475eb288.01012c","type":"ui_button","z":"93aca5f3.988cb8","name":"1_4","group":"5a22bfea.c3c8f","order":13,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"1_4","x":330,"y":569,"wires":[["1ebdae31.e33892"]]},{"id":"4163e499.c274ec","type":"ui_button","z":"93aca5f3.988cb8","name":"1_3","group":"5a22bfea.c3c8f","order":9,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"1_3","x":330,"y":509,"wires":[["1ebdae31.e33892"]]},{"id":"1ebdae31.e33892","type":"function","z":"93aca5f3.988cb8","name":"","func":"var Mode = global.get(\"Mode\") || \"\";\n\nvar lastPressedButton = global.get(\"lastPressedButton\") || 0;\nvar PressedButton = msg.topic;\n\nvar lastPressedTimestamp = global.get(\"lastPressedTimestamp\") || 0;\nvar PressedTimestamp = msg.payload;\nvar DeltaTime = PressedTimestamp - lastPressedTimestamp;\n\nif(Mode != \"singlecontrol\")\n{\n   return; \n}\n\n    if(DeltaTime > 300)\n    {\n        var color = global.get(\"Color\");\n\n        switch(PressedButton)\n        {\n            case \"1_1\":\n                global.set(\"Color1_1\", color);\n                break;\n            case \"1_2\":\n                global.set(\"Color1_2\", color);\n                break;\n            case \"1_3\":\n                global.set(\"Color1_3\", color);\n                break;\n            case \"1_4\":\n                global.set(\"Color1_4\", color);\n                break;\n            \n            case \"2_1\":\n                global.set(\"Color2_1\", color);\n                break;\n            case \"2_2\":\n                global.set(\"Color2_2\", color);\n                break;\n            case \"2_3\":\n                global.set(\"Color2_3\", color);\n                break;\n            case \"2_4\":\n                global.set(\"Color2_4\", color);\n                break;    \n            \n            case \"3_1\":\n                global.set(\"Color3_1\", color);\n                break;\n            case \"3_2\":\n                global.set(\"Color3_2\", color);\n                break;\n            case \"3_3\":\n                global.set(\"Color3_3\", color);\n                break;\n            case \"3_4\":\n                global.set(\"Color3_4\", color);\n                break;    \n            \n            case \"4_1\":\n                global.set(\"Color4_1\", color);\n                break;\n            case \"4_2\":\n                global.set(\"Color4_2\", color);\n                break;\n            case \"4_3\":\n                global.set(\"Color4_3\", color);\n                break;\n            case \"4_4\":\n                global.set(\"Color4_4\", color);\n                break;\n           \n            case \"SetAll\":\n                global.set(\"Color1_1\", color);\n                global.set(\"Color1_2\", color);\n                global.set(\"Color1_3\", color);\n                global.set(\"Color1_4\", color);\n                global.set(\"Color2_1\", color);\n                global.set(\"Color2_2\", color);\n                global.set(\"Color2_3\", color);\n                global.set(\"Color2_4\", color);\n                global.set(\"Color3_1\", color);\n                global.set(\"Color3_2\", color);\n                global.set(\"Color3_3\", color);\n                global.set(\"Color3_4\", color);\n                global.set(\"Color4_1\", color);\n                global.set(\"Color4_2\", color);\n                global.set(\"Color4_3\", color);\n                global.set(\"Color4_4\", color);\n                break;\n            \n            case \"TurnOff\":\n                global.set(\"Color1_1\", \"rgb(0,0,0)\");\n                global.set(\"Color1_2\", \"rgb(0,0,0)\");\n                global.set(\"Color1_3\", \"rgb(0,0,0)\");\n                global.set(\"Color1_4\", \"rgb(0,0,0)\");\n                global.set(\"Color2_1\", \"rgb(0,0,0)\");\n                global.set(\"Color2_2\", \"rgb(0,0,0)\");\n                global.set(\"Color2_3\", \"rgb(0,0,0)\");\n                global.set(\"Color2_4\", \"rgb(0,0,0)\");\n                global.set(\"Color3_1\", \"rgb(0,0,0)\");\n                global.set(\"Color3_2\", \"rgb(0,0,0)\");\n                global.set(\"Color3_3\", \"rgb(0,0,0)\");\n                global.set(\"Color3_4\", \"rgb(0,0,0)\");\n                global.set(\"Color4_1\", \"rgb(0,0,0)\");\n                global.set(\"Color4_2\", \"rgb(0,0,0)\");\n                global.set(\"Color4_3\", \"rgb(0,0,0)\");\n                global.set(\"Color4_4\", \"rgb(0,0,0)\");\n                                   \n            default:\n                break;\n                \n        }\n\n        global.set(\"lastPressedTimestamp\", PressedTimestamp);\n        global.set(\"lastPressedButton\", PressedButton);\n\n        return msg;\n    }\n        \n    else\n    {\n        if(lastPressedButton == PressedButton)\n        {\n            \n            switch(PressedButton)\n        {\n            case \"1_1\":\n                global.set(\"Color1_1\", \"rgb(0,0,0)\");\n                break;\n            case \"1_2\":\n                global.set(\"Color1_2\", \"rgb(0,0,0)\");\n                break;\n            case \"1_3\":\n                global.set(\"Color1_3\", \"rgb(0,0,0)\");\n                break;\n            case \"1_4\":\n                global.set(\"Color1_4\", \"rgb(0,0,0)\");\n                break;\n            \n            case \"2_1\":\n                global.set(\"Color2_1\", \"rgb(0,0,0)\");\n                break;\n            case \"2_2\":\n                global.set(\"Color2_2\", \"rgb(0,0,0)\");\n                break;\n            case \"2_3\":\n                global.set(\"Color2_3\", \"rgb(0,0,0)\");\n                break;\n            case \"2_4\":\n                global.set(\"Color2_4\", \"rgb(0,0,0)\");\n                break;   \n            \n            case \"3_1\":\n                global.set(\"Color3_1\", \"rgb(0,0,0)\");\n                break;\n            case \"3_2\":\n                global.set(\"Color3_2\", \"rgb(0,0,0)\");\n                break;\n            case \"3_3\":\n                global.set(\"Color3_3\", \"rgb(0,0,0)\");\n                break;\n            case \"3_4\":\n                global.set(\"Color3_4\", \"rgb(0,0,0)\");\n                break;\n            \n            case \"4_1\":\n                global.set(\"Color4_1\", \"rgb(0,0,0)\");\n                break;\n            case \"4_2\":\n                global.set(\"Color4_2\", \"rgb(0,0,0)\");\n                break;\n            case \"4_3\":\n                global.set(\"Color4_3\", \"rgb(0,0,0)\");\n                break;\n            case \"4_4\":\n                global.set(\"Color4_4\", \"rgb(0,0,0)\");\n                break;\n                \n            default:\n                break;\n                \n        }\n            \n            global.set(\"lastPressedTimestamp\", PressedTimestamp);\n            global.set(\"lastPressedButton\", PressedButton);\n    \n            return msg;\n        }\n    }\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["1a4bfd5d.f4f193","b8770a10.e1fa68","bdf03e3f.db404","44b84cde.5ece74","fa3848c0.2d8ab8","a7007b66.7354c8","eb348e34.b8209","4fb55e07.b3658","96fcd665.63ab28","e8b8ab93.4ef6e8","314f3ee3.d86762","4bf1b324.c0a38c","a30675b3.ce83f8","861c691d.355808","b45556b7.2503d8","245ff22d.09491e","2294cf66.19b31"]]},{"id":"aa7197eb.b573b8","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"Color","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[[]]},{"id":"1a4bfd5d.f4f193","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color1_1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":389,"wires":[["2fa2ab19.b5feb4","4abcbc95.ee9604"]]},{"id":"b8770a10.e1fa68","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color1_2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":449,"wires":[["6b70c401.68bbbc","4e46238b.85d3dc"]]},{"id":"bdf03e3f.db404","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color1_3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":509,"wires":[["b03ac9ea.20ce38","4163e499.c274ec"]]},{"id":"44b84cde.5ece74","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color1_4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":569,"wires":[["123ab393.cf6d2c","475eb288.01012c"]]},{"id":"2fa2ab19.b5feb4","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/1_1","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":389,"wires":[]},{"id":"6b70c401.68bbbc","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/1_2","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":449,"wires":[]},{"id":"b03ac9ea.20ce38","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/1_3","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":509,"wires":[]},{"id":"123ab393.cf6d2c","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/1_4","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":569,"wires":[]},{"id":"69ec7598.6ed15c","type":"mqtt in","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/1_1","qos":"2","datatype":"auto","broker":"","x":150,"y":1680,"wires":[["55a96894.8045d8"]]},{"id":"d21f8553.c0ddb8","type":"mqtt in","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/1_2","qos":"2","datatype":"auto","broker":"","x":150,"y":1720,"wires":[["55a96894.8045d8"]]},{"id":"6eccbfab.0f588","type":"mqtt in","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/2_1","qos":"2","datatype":"auto","broker":"","x":150,"y":1760,"wires":[["55a96894.8045d8"]]},{"id":"7c503d81.8a61d4","type":"mqtt in","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/2_2","qos":"2","datatype":"auto","broker":"","x":150,"y":1800,"wires":[["55a96894.8045d8"]]},{"id":"e67bd9e9.e82948","type":"debug","z":"93aca5f3.988cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":1529,"wires":[]},{"id":"fa3848c0.2d8ab8","type":"function","z":"93aca5f3.988cb8","name":"","func":"var aa = global.get(\"lastPressedButton\");\nvar bb = global.get(\"lastPressedTimestamp\");\nvar cc = global.get(\"Color\");\nmsg.payload = \"Button: \"+aa+\", Timestamp: \"+bb+\", GlobFarbe: \"+cc\nreturn msg;\n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1529,"wires":[["e67bd9e9.e82948"]]},{"id":"55a96894.8045d8","type":"debug","z":"93aca5f3.988cb8","name":"","active":true,"console":"false","complete":"false","x":390,"y":1800,"wires":[]},{"id":"3527af36.3889c","type":"ui_dropdown","z":"93aca5f3.988cb8","name":"","label":"Modusauswahl:","tooltip":"","place":"Modus auswählen...","group":"3c80b859.ab64e8","order":1,"width":8,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Single control","value":"singlecontrol","type":"str"},{"label":"Lightshow 1","value":"lightshow1","type":"str"},{"label":"Lightshow 2","value":"lightshow2","type":"str"},{"label":"Lightshow 3","value":"lightshow3","type":"str"}],"payload":"","topic":"","x":600,"y":280,"wires":[["7bccd637.0876d8"]]},{"id":"7bccd637.0876d8","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"Mode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":280,"wires":[["2fa2ab19.b5feb4","6b70c401.68bbbc","b03ac9ea.20ce38","123ab393.cf6d2c","2076dff3.5dff4","d82b10dd.6a58f","1897e5c2.7c15fa","d193ec22.8d5ed","9068c2f1.ae77a","d2fff7c3.4fb228","2ebd10d9.254c1","980f2ac9.0358c8","d9c499be.458a98","5e2d6d4b.9c5ea4","e4fa3ec6.42196","1a1f3142.765fff"]]},{"id":"bfc7a7e2.9a2b68","type":"ui_button","z":"93aca5f3.988cb8","name":"2_2","group":"5a22bfea.c3c8f","order":6,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"2_2","x":330,"y":729,"wires":[["1ebdae31.e33892"]]},{"id":"b9b980fb.ab6c8","type":"ui_button","z":"93aca5f3.988cb8","name":"2_1","group":"5a22bfea.c3c8f","order":2,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"2_1","x":330,"y":669,"wires":[["1ebdae31.e33892"]]},{"id":"42687c88.ea4884","type":"ui_button","z":"93aca5f3.988cb8","name":"2_4","group":"5a22bfea.c3c8f","order":14,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"2_4","x":330,"y":849,"wires":[["1ebdae31.e33892"]]},{"id":"5665275c.12e878","type":"ui_button","z":"93aca5f3.988cb8","name":"2_3","group":"5a22bfea.c3c8f","order":10,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"2_3","x":330,"y":789,"wires":[["1ebdae31.e33892"]]},{"id":"a7007b66.7354c8","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color2_1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":669,"wires":[["2076dff3.5dff4","b9b980fb.ab6c8"]]},{"id":"eb348e34.b8209","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color2_2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":729,"wires":[["d82b10dd.6a58f","bfc7a7e2.9a2b68"]]},{"id":"4fb55e07.b3658","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color2_3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":789,"wires":[["1897e5c2.7c15fa","5665275c.12e878"]]},{"id":"96fcd665.63ab28","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color2_4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":849,"wires":[["d193ec22.8d5ed","42687c88.ea4884"]]},{"id":"2076dff3.5dff4","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/2_1","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":669,"wires":[]},{"id":"d82b10dd.6a58f","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/2_2","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":729,"wires":[]},{"id":"1897e5c2.7c15fa","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/2_3","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":789,"wires":[]},{"id":"d193ec22.8d5ed","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/2_4","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":849,"wires":[]},{"id":"daa22a27.71ecb8","type":"ui_button","z":"93aca5f3.988cb8","name":"3_2","group":"5a22bfea.c3c8f","order":7,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"3_2","x":330,"y":1009,"wires":[["1ebdae31.e33892"]]},{"id":"1d95522e.2b8dae","type":"ui_button","z":"93aca5f3.988cb8","name":"3_1","group":"5a22bfea.c3c8f","order":3,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"3_1","x":330,"y":949,"wires":[["1ebdae31.e33892"]]},{"id":"8950029d.44e21","type":"ui_button","z":"93aca5f3.988cb8","name":"3_4","group":"5a22bfea.c3c8f","order":15,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"3_4","x":330,"y":1129,"wires":[["1ebdae31.e33892"]]},{"id":"a8736e79.c475a","type":"ui_button","z":"93aca5f3.988cb8","name":"3_3","group":"5a22bfea.c3c8f","order":11,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"3_3","x":330,"y":1069,"wires":[["1ebdae31.e33892"]]},{"id":"e8b8ab93.4ef6e8","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color3_1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":949,"wires":[["9068c2f1.ae77a","1d95522e.2b8dae"]]},{"id":"314f3ee3.d86762","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color3_2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1009,"wires":[["d2fff7c3.4fb228","daa22a27.71ecb8"]]},{"id":"4bf1b324.c0a38c","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color3_3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1069,"wires":[["2ebd10d9.254c1","a8736e79.c475a"]]},{"id":"a30675b3.ce83f8","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color3_4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1129,"wires":[["980f2ac9.0358c8","8950029d.44e21"]]},{"id":"9068c2f1.ae77a","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/3_1","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":949,"wires":[]},{"id":"d2fff7c3.4fb228","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/3_2","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":1009,"wires":[]},{"id":"2ebd10d9.254c1","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/3_3","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":1069,"wires":[]},{"id":"980f2ac9.0358c8","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/3_4","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":1129,"wires":[]},{"id":"e47e68a5.b39528","type":"ui_button","z":"93aca5f3.988cb8","name":"4_2","group":"5a22bfea.c3c8f","order":8,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"4_2","x":330,"y":1289,"wires":[["1ebdae31.e33892"]]},{"id":"4d979064.80408","type":"ui_button","z":"93aca5f3.988cb8","name":"4_1","group":"5a22bfea.c3c8f","order":4,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"4_1","x":330,"y":1229,"wires":[["1ebdae31.e33892"]]},{"id":"61643391.b9db2c","type":"ui_button","z":"93aca5f3.988cb8","name":"4_4","group":"5a22bfea.c3c8f","order":16,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"4_4","x":330,"y":1409,"wires":[["1ebdae31.e33892"]]},{"id":"6925e48c.437c4c","type":"ui_button","z":"93aca5f3.988cb8","name":"4_3","group":"5a22bfea.c3c8f","order":12,"width":4,"height":4,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"","payloadType":"date","topic":"4_3","x":330,"y":1349,"wires":[["1ebdae31.e33892"]]},{"id":"861c691d.355808","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color4_1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1229,"wires":[["d9c499be.458a98","4d979064.80408"]]},{"id":"b45556b7.2503d8","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color4_2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1289,"wires":[["5e2d6d4b.9c5ea4","e47e68a5.b39528"]]},{"id":"245ff22d.09491e","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color4_3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1349,"wires":[["e4fa3ec6.42196","6925e48c.437c4c"]]},{"id":"2294cf66.19b31","type":"change","z":"93aca5f3.988cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Color4_4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1409,"wires":[["1a1f3142.765fff","61643391.b9db2c"]]},{"id":"d9c499be.458a98","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/4_1","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":1229,"wires":[]},{"id":"5e2d6d4b.9c5ea4","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/4_2","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":1289,"wires":[]},{"id":"e4fa3ec6.42196","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/4_3","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":1349,"wires":[]},{"id":"1a1f3142.765fff","type":"mqtt out","z":"93aca5f3.988cb8","name":"","topic":"sensors/pixels/4_4","qos":"","retain":"","broker":"549a8d8c.df33f4","x":1190,"y":1409,"wires":[]},{"id":"c5101c78.25c8e","type":"ui_button","z":"93aca5f3.988cb8","name":"","group":"3c80b859.ab64e8","order":15,"width":0,"height":0,"passthru":false,"label":"turn off all","tooltip":"","color":"","bgcolor":"Black","icon":"","payload":"","payloadType":"date","topic":"TurnOff","x":320,"y":300,"wires":[["1ebdae31.e33892"]]},{"id":"c6093232.46d83","type":"ui_text","z":"93aca5f3.988cb8","group":"3c80b859.ab64e8","order":3,"width":0,"height":0,"name":"","label":"Farbauswahl: (single control mode)","format":"{{msg.payload}}","layout":"row-spread","x":240,"y":120,"wires":[]},{"id":"3c80b859.ab64e8","type":"ui_group","z":"","name":"Setup:","tab":"b74a0e4b.72793","order":1,"disp":true,"width":"8","collapse":false},{"id":"5a22bfea.c3c8f","type":"ui_group","z":"","name":"LED-Panel Launchpad:","tab":"b74a0e4b.72793","order":3,"disp":true,"width":"16","collapse":false},{"id":"549a8d8c.df33f4","type":"mqtt-broker","z":"","name":"MQTT","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b74a0e4b.72793","type":"ui_tab","z":"","name":"Lightshow Launchpad","icon":"dashboard","disabled":false,"hidden":false}]